<h4> Here are some Samsung Products..!</h4>
<div class="col s12 m4">
    <h3 class="header">Samsung Galaxy m31</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src=" https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY327_FMwebp_QL65_.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage
           </p>
        </div>
        <div class="card-action" style="background-color:goldenrod;">
          <a href="#" style="color:black;"><b>Buy Now</b></a>
        </div>
      </div>
    </div>
  </div>


  <div class="col s12 m4">
    <h3 class="header">Samsung Galaxy s20</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://m.media-amazon.com/images/I/71cD4NUIBWL._AC_UY327_FMwebp_QL65_.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Samsung Galaxy S20 Ultra (Cosmic Gray, 12GB RAM, 128GB Storage
            </p>
        </div>
        <div class="card-action" style="background-color:goldenrod;">
          <a href="#" style="color:black;" ><b>Buy Now</b></a>
        </div>
      </div>
    </div>
  </div>

  
  <div class="col s12 m4">
    <h3 class="header">Samsung Galaxy M21</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY327_FMwebp_QL65_.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Samsung Galaxy M21 (ocean Blue, 12GB RAM, 128GB Storage
            </p>
        </div>
        <div class="card-action" style="background-color:goldenrod;">
          <a href="#" style="color:black;"><b>Buy Now</b></a>
        </div>
      </div>
    </div>
  </div>
