<!-- nav.component.html -->
<app-nav></app-nav>
<!--/ nav.component.html -->

<!-- banner-one.component.html -->
<app-banner-one></app-banner-one>
<!--/ banner-one.component.html -->

<!-- products.component.html -->
<app-product></app-product>
<!--/ products.component.html -->

<!-- banner-two.component.html -->
<app-banner-two></app-banner-two>
<!--/ banner-two.component.html -->

<!-- contact-us.component.html -->
<app-contact-us></app-contact-us>
<!--/ contact-us.component.html -->

<!-- banner-three.component.html -->
<app-banner-three></app-banner-three>
<!--/ banner-three.component.html -->

<!-- footer.component.html -->
<app-footer></app-footer>
<!-- footer.component.html -->