<h4> Here are some Motorola Products..!</h4>
<div class="col s12 m4">
    <h3 class="header">Moto G6</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src=" https://m.media-amazon.com/images/I/81uvS+U0TcL._AC_UY327_FMwebp_QL65_.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Motorola G6 (Lunar Grey, 64GB)
            Brand: Motorola
           </p>
        </div>
        <div class="card-action" style="background-color:goldenrod;">
          <a href="#" style="color:black;"><b>Buy Now</b></a>
        </div>
      </div>
    </div>
  </div>


  <div class="col s12 m4">
    <h3 class="header">Moto G5s</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://m.media-amazon.com/images/I/71N5hSP49AL._AC_UY327_FMwebp_QL65_.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Motorola G5s Plus ( Grey, 64GB)
            Brand:  Motorola
            </p>
        </div>
        <div class="card-action" style="background-color:goldenrod;">
          <a href="#" style="color:black;" ><b>Buy Now</b></a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="col s12 m4">
    <h3 class="header">Moto 1Action</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://m.media-amazon.com/images/I/71kDxXuzDbL._AC_UY327_FMwebp_QL65_.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Motorola One Action ( black, 64GB)
            Brand:  Motorola
            </p>
        </div>
        <div class="card-action" style="background-color:goldenrod;">
          <a href="#" style="color:black;"><b>Buy Now</b></a>
        </div>
      </div>
    </div>
  </div>
  
