<div class="row center">
  <div class="carousel m9 s12">
    <a class="carousel-item"><img src="../../../assets/img/2.jpeg" /><b>
        &nbsp;&nbsp;&nbsp; Royal royal-enfield</b></a>
    <a class="carousel-item"><img src="../../../assets/img/2.jpeg" /><b>&nbsp;&nbsp;&nbsp;Yamaha</b></a>
    <a class="carousel-item"><img src="../../../assets/img/2.jpeg" /><b>&nbsp;&nbsp;&nbsp;&nbsp;Honda Hornet</b></a>
    <a class="carousel-item"><img src="../../../assets/img/2.jpeg" /><b>&nbsp;&nbsp;&nbsp;&nbsp;KTM Duke</b></a>
    <a class="carousel-item"><img src="../../../assets/img/2.jpeg" /><b>&nbsp;&nbsp;&nbsp;&nbsp;Apachi RTR
      </b></a>
  </div>
</div>